/* * {
  color: red;
} */

/* 选中所有具有href属性的元素 */
/* [href] {
  color: red;
} */

/* 选中所有具有href属性&&href="https://www.sina.com" 的元素 */
/* [href="https://www.sina.com"] {
  color: red;
} */

/* [href="https://www.baidu.com"] {
  color: #008c8c;
} */

/* 选中属性带特定值,且有空格分隔的元素 */
/* [class~="b"] {
  color: green;
} */

/* [class*="b"] {
  color: #8c8c8c;
} */

/* href属性的值以baidu.com结尾 */
/* [href$="baidu.com"] {
  color: #008c8c;
} */

/* a:link {
  color: chocolate;
} */

/* a:visited {
  color: bisque;
} */

/* 选中鼠标悬停时的a元素 */
/* a:hover {
  color: red;
} */

/* 鼠标按下时的a元素 */
/* a:active {
  color: blue;
} */

span::before {
  content: "日文名:《";
  color: blue
}

span::after {
  content: "》";
  color: blue
}

p {
  text-indent: 2em;
  line-height: 2;
}
p.red {
  color: red;
}

.red li {
  color: #008c8c;
}

/* 选中使用abc作为class的元素下的所有后代元素 */
/* .abc * {
  color: aqua;
} */

/* 选中使用abc作为class的元素下应用bcd样式的直接子元素,不包括子元素的子元素 */
/* .abc>.bcd {
  color: black;
} */

/* div>ul li{
  color: red;
} */

.special {
  color: red;
}

/* 选中class为special的元素后面出现的一个兄弟元素 */
  /* .special+li {
    color:#008c8c;
  } */

/* 选中Class为special的元素的后边的所有兄弟元素 */
/* .special~li{
  color: bisque;
} */

/* 本质上等同书写了2次样式, 如下
.special~li{
  color: bisque;
}
.p{
  color: bisque;
}
*/
.special~li, p{
  color: bisque;
}