body {
  background: url('../assets/yuanshen.png') no-repeat 0 0/100%;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

header {
  /* width: 1198px; */
  width: 1647px;
  height: 96px;
  line-height: 96px;
  color: #e2e8e7;
  margin: 0 auto;
  margin-top: 26px;
  background: url('../assets/bg_nav.png') no-repeat -20px -400px/100%;
  box-sizing: border-box;
  border: 1px solid #b6c1b0;
  border-left: none;
  border-right: none;
  position: relative;
}
.header nav a {
  float: left;
  width: 220px;
  height: 96px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #b6c1b0;
  border-top: none;
  border-bottom: none;
  color: #000;
  font-weight: bold;
}
.header nav a:nth-child(4) {
  margin-left: 327px;
}

.header .logo {
  position: absolute;
  height: 96px;
  width: 96px;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
  background: url('../assets/logo.jpg') no-repeat 0 0/100%;
}
.header .logo h1 {
  display: none;
}
.menu {
  text-align: center;
  margin-top: 420px;
}
.menu a {
  display: inline-block;
  width: 323px;
  height: 80px;
  background-color: red;
}
.menu a span {
  display: none;
}
.menu a.detail {
  background: url('../assets//btn1.png') no-repeat 0 0/100% ;
}
.menu a.download {
  background: url('../assets//btn2.jpg') no-repeat 0 0/100% ;
}

.adv {
  width: 1203px;
  margin: 16px auto;
}
.adv .item {
  float: left;
  width: 290px;
  height: 340px;
  margin-right: 13px;
  border: 1px solid #3f2a22;
  box-sizing: border-box;
}
.adv .item:last-child {
  margin-right: 0;
}
.adv .item .title {
  border-bottom: 1px solid #3f2a22;
  box-sizing: border-box;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: #211510;
  color: #f8b700;
}
.adv .item .pic a img {
  width: 290px;
  height: 290px;
}