.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
body {
  color: #333;
}

.main {
  line-height: 1.5;
}
.main .nav {
  height: 60px;
  background-color: #47464a;
  color: #999;
  text-align: center;
  line-height: 60px;
}
.main .nav a {
  margin: 0 38px;
}
.main .nav a:hover {
  color: #fff;
}
.main .nav a.selected {
  color: #ef4238;
}


.main .container {
  width: 1120px;
  margin: 0 auto;
}

.main .container .choose-area {
  border: 1px solid #e5e5e5;
  margin: 40px 0;
  font-size: 14px;
}
.main .container .choose-area .choose-item {
  margin: 1em 0;
  border-bottom: 1px dotted #e5e5e5;
}
.main .container .choose-area .choose-item.noline {
  border: none;
}
.main .container .choose-area .choose-item .left {
  float: left;
  color: #999;
}
.main .container .choose-area .choose-item .right {
  float: left;
  width: 1050px;
  border: 2px solid #ccc;
}
.main .container .choose-area .choose-item .right li {
  float: left;
  margin: 0 9px;
  padding: 0 6px;
}

.main .container .choose-area .choose-item .right li:hover {
  color: #ef4238;
}

.main .container .choose-area .choose-item .right li.selected {
  background-color: #ef4238;
  color: #fff;
  /* CSS3 圆角边框 */
  border-radius: 15px;
}